/* Import 3rd party libraries first */
/* These should probably be explicitly defined in require.config.coffee
 * instead of here.
   @import url('lib/bootstrap/css/bootstrap.css');
 */

.layout-content .content-title:before {
  content: "Title: ";
  opacity: 0.5;
}

/* Add some space because the toolbar floats */
.layout-content.layout-root {
  background-color: #ebebeb;
  margin-top: 55px;
}

.layout-content.layout-root > .row > .span11 {
  /* give the document a little space below the toolbar */
  margin-top: 10px;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
}

.layout-content #layout-body > * {
  min-height: 5in;
}

/* Hint that the user can edit the title here */
#layout-title { cursor: pointer; }
#layout-title + .popover { font-size: 12pt; font-weight: normal; }


/* Add graphics to Roles inputs to show the type of input */
/* Bootstrap ".input-prepend .add-on" does not work with select2 inputs so we use a new class "add-on-prepend" */
.add-on-prepend,
.add-on-append {

  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}
.add-on-prepend {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  vertical-align: top;
  margin-right: -5px;
}
.add-on-append {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  vertical-align: top;
  margin-left: -5px;
}

.navbar-fixed-top h3 {
  margin: 0;
  padding: 10px 0;
  background-color: #fff;
}

/* Used to visually disable editable areas and views until their contents have loaded */
.disabled { opacity: 0.5; }
.hidden { display: none !important; }

.select2-container {
  min-width: 15em;
}

/* Apparently MathJax still renders the annotation element as plain text */
.math-element .MathJax .math .annotation, annotation {
  display: none;
}

/* Remove the annoying WAI button in tables */
.aloha-table-wrapper div.aloha-wai-red { background-image: none !important; }

/* Hide the annoying floating toolbar */
.aloha-toolbar { display: none !important; }

/* Set some styling on the toolbar */
.toolbar {
  background-color: whiteSmoke;
  opacity: 0.95;

  padding-left: 1em;
  box-shadow: 0 2px 3px 0 #CCC;
  /* This is the same z-index as popovers so the popover renders above the toolbar
   * but Math (which is also raised) still shows up below the toolbar
   */
  z-index: 1010;
}

/* Set the width for the Heading/SubHeading dropdown */
.toolbar .currentHeading {
  width: 9em;
}

/* Add some padding on the top so the toolbar has room to float in */
/* .document { margin: 4em; } */

/* Needs to occur AFTER the bootstrap.css */
/* Allows the popover to grow in size */
.popover {
  width: auto;
}

/* We don't use the title in popovers so hide it... */
.popover .popover-title { display: none; }



figure {
  counter-increment: figure;
  /* Set inline-block so the figure popover shows up directly under instead of 1/2-way in the page */
  display: inline-block;
}
figure figcaption::before { content: "Figure " counter(figure) " "; font-weight: bold; }

.aloha-image-upload-drop-box {
  text-align: center;
  border: 1px dashed #ccc;
  width: 400px;
  padding: 100px 0;
  cursor: pointer;
}

/* Metadata fields that occur around the image */
.aloha-image-attrib .aloha-image-attr-alt::before {
  content: "Please provide a description of this image for the visually impaired";
  color: #ccc;
  display: block;
}
/* Just some formatting of the input boxes */
.aloha-image-attrib input { display: block; }
.aloha-image-attrib .aloha-image-attr-alt {
  width: 400px;
  display: block;
}

/* Make sure previewing large images should not take up the entire screen */
.image-options .preview-image {
  max-width: 480px;
  max-height: 300px;
}

/* Rough Table Styling */
table td { min-width: 5em; }
table td:first-child { min-width: 1em; }
/*------------------------------------------*/

.aloha-table-wrapper div.aloha-wai-red { background-image: none !important; }
.aloha-toolbar { display: none !important; }

.toolbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

figure { counter-increment: figure; }
figure figcaption::before { content: "Figure 1." counter(figure) " "; font-weight: bold; }

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

#editorspan {
  background-color: #FAFAFA;
  border: 1px solid #ddd;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#collectionspan {
  background-color: #99CCFF;
  border: 1px solid #ddd;
}

.toolbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

figure { counter-increment: figure; }
figure figcaption::before { content: "Figure 1." counter(figure) " "; font-weight: bold; }

.aloha-image-upload-drop-box {
  text-align: center;
  border: 1px dashed #ccc;
  width: 400px;
  padding: 100px 0;
  cursor: pointer;
}

/* Metadata fields that occur around the image */
.aloha-image-attrib {

}
.aloha-image-attrib .aloha-image-attr-alt::before {
  content: "Please provide a description of this image for the visually impaired";
  color: #ccc;
  display: block;
}
/* Just some formatting of the input boxes */
.aloha-image-attrib input { display: block; }
.aloha-image-attrib .aloha-image-attr-alt {
  width: 400px;
  display: block;
}

.modal-body {
  min-height: 200px;
}
