
<p>In linear algebra, the outer product typically refers to the tensor product of two vectors. The result of applying the outer product to a pair of vectors is a matrix. The name contrasts with the inner product, which takes as input a pair of vectors and produces a scalar.</p>

<p>The outer product of vectors can be also regarded as a special case of the Kronecker product of matrices.</p>

<p>Some authors use the expression "outer product of tensors" as a synonym of "tensor product". The outer product is also a higher-order function in some computer programming languages such as APL and Mathematica.</p>

<h2>Definition (vectors and tensors)</h2>

<h3>Vector multiplication</h3>
<p>Given the vectors</p>

<p>u = (u<sub>1</sub>, u<sub>2</sub>, ..., u<sub>m</sub>)</p>
<p>v = (v<sub>1</sub>, v<sub>2</sub>, ..., v<sub>n</sub>)</p>

<p>their outer product <strong>u ⊗ v</strong> is defined as the <em>m × n</em> matrix <strong>A</strong> obtained by multiplying each element of <strong>u</strong> by each element of <strong>v</strong></p>

<p></p>

<p>For complex vectors, the complex conjugate of <strong>v</strong> (denoted <strong>v*</strong> or <strong>v̅</strong>). Namely, matrix  is obtained by multiplying each element of <strong>u</strong> by the complex conjugate of each element of <strong>v</strong>.</p>


<h3>Interactive Example</h3>

<p>u = (<input type="number" ng-model="u1" value="1"/>, <input type="number" ng-model="u2" value="2"/>, ..., <input type="number" ng-model="um" value="3"/>)</p>
<p>v = (<input type="number" ng-model="v1" value="4"/>, <input type="number" ng-model="v2" value="5"/>, ..., <input type="number" ng-model="vn" value="6"/>)</p>

<p>their outer product <strong>u ⊗ v</strong> is defined as the <em>m × n</em> matrix <strong>A</strong> obtained by multiplying each element of <strong>u</strong> by each element of <strong>v</strong></p>

<table>
  <tr><td><span ng-bind="u1*v1">4</span></td><td><span ng-bind="u1*v2">5</span></td><td>...</td><td><span ng-bind="u1*vn">6</span></td></tr>
  <tr><td><span ng-bind="u2*v1">8</span></td><td><span ng-bind="u2*v2">10</span></td><td>...</td><td><span ng-bind="u2*vn">12</span></td></tr>
  <tr><td>...</td><td>...</td><td>...</td><td>...</td></tr>
  <tr><td><span ng-bind="um*v1">12</span></td><td><span ng-bind="um*v2">15</span></td><td>...</td><td><span ng-bind="um*vn">18</span></td></tr>
</table>

