<h3>Add Book Content</h3>
<p>Click on these items to add content or organizational pieces to the book spine.</p>

<div class="addable"><button class="btn add-section" data-default-title="Untitled Section"><i class="icon-folder-open"></i> Organizational Unit</button></div>
<div class="addable"><button class="btn add-content" data-default-title="Untitled Content"><i class="icon-file-alt"></i> Content</button></div>
