{{! Items will be appended to the tbody in separate rows}}
<table class="search-results table table-condensed table-hover">
  <thead>
    <tr>
      <th class="header-title">Title</th>
      <th class="header-modified">Modified</th>
    </tr>
  </thead>
  <tbody>
    {{! Items will be appended here as tr elements}}
  </tbody>
</table>
