<div class="sign-in-out">
  {{#if id}}
    <form action="logout">
      <button type="submit" id="sign-out" class="btn btn-link">Sign Out</button>
      <span class="name">[{{name}}]</span>
    </form>
  {{else}}
    <!-- Set 'data-bypass' so we don't use the Backbone router to handle the link
         and instead go to the login page directly.
      -->
    <a href="/login" data-bypass="true">Sign In</a>
  {{/if}}
</div>
