<div class="layout-root">


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li class="active"><a class="brand" href="#">Connexions</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#">MyCNX</a></li>
        </ul>

        <ul class="nav pull-right">
          <li>
            <div id="layout-auth"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="sidebar span1"><!-- Used for padding because phil is lazy --></div>
    <div class="span11">

      <div class="body-above">
        <a class="btn" href="#content"><i class="icon-plus"></i> New Content</a>
      </div>
      <div id="layout-body"></div>

    </div>
  </div>
</div>
