<div class="layout-root">


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <button id="layout-main-home" class="btn btn-link btn-large" title="Workspace"><i class="icon-home"></i></button>
      <div id="layout-main-toolbar">
        <h4>Editor</h4>
      </div>

      <ul class="nav pull-right">
        <li>
          <div id="layout-main-auth">[signin]</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="below-toolbar">
    <div id="layout-main-sidebar">[Sidebar]</div>
    <div id="layout-main-area">
      If you see this message, go to the Main Workspace by clicking the Home icon on the top-left corner of the page.
    </div>

  </div>
</div>
