<div class="layout-root layout-content">

      <!-- <div id="sidebar-right" class="span2" style="float: right;"></div> -->
      <div class="body-above">
        <h1 id="layout-title" class="content-title" rel="tooltip" title="Click to Change the Title" data-placement="bottom">Content Editor</h1>
        {{! The accordion }}
        <div class="accordion" id="accordion-metadata">
          <div class="accordion-group">
            <div class="accordion-heading">
              <button class="accordion-toggle btn-link" data-toggle="collapse" data-parent="#accordion-metadata" href="#collapse-metadata">
                Metadata
              </button>
            </div>
            <div id="collapse-metadata" class="accordion-body collapse">
              <div id="layout-metadata" class="accordion-inner">
                {{! Content will be replaced by a view}}
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <button class="accordion-toggle btn-link" data-toggle="collapse" data-parent="#accordion-metadata" href="#collapse-roles">
                Roles
              </button>
            </div>
            <div id="collapse-roles" class="accordion-body collapse">
              <div id="layout-roles" class="accordion-inner">
                {{! Content will be replaced by a view}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="layout-body"></div>

</div>
