<div class="layout-root">


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <span id="layout-main-toolbar">
          <ul class="nav">
            <li>
              <button id="layout-main-back" class="btn btn-link" title="Back"><i class="icon-arrow-left"></i></button>
            </li>

            <li class="active">[Toolbar Buttons]</li>
          </ul>
        </span>

        <ul class="nav pull-right">
          <li>
            <div id="layout-main-auth">[signin]</div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="below-toolbar">
    <div id="layout-main-sidebar">[Sidebar]</div>
    <div id="layout-main-area">[Editing Area]</div>

  </div>
</div>
