<h3>Add Book Content</h3>
<p>Click on these items to add content or organizational pieces to the book spine.</p>

<div class="addable add-section" data-default-title="Untitled Section"><i class="icon-book"></i> Organizational Unit</div>
<div class="addable add-content" data-default-title="Untitled Content"><i class="icon-book"></i> Content</div>
