<div class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="language">Language</label>
    <div class="controls form-inline" style="white-space: nowrap">
      <select required name="language"></select>
      <label for="variantLanguage">and variant</span>
      <select name="variantLanguage"></select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="subjects">Subjects</label>
    <div class="controls">
      <input name="subjects" type="text" placeholder="Subjects help organize this content"/>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="keywords">Keywords</label>
    <div class="controls">
      <input name="keywords" type="text" placeholder="Keywords help people find this content"/>
    </div>
  </div>

</div>
